.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  background-color: rgb(255, 255, 255);
  /* padding: 15px; */
  box-shadow: 0 4px 6px rgba(77, 102, 128, 0.678); 
}

.navButton {
  margin-right: 40px;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
  background-color: #ffffff;
  
}

.navButton:hover {
  background-color: rgb(76, 160, 276);
  color: #ffffff; 
}

.homePage {
  background: linear-gradient(to right, rgb(76, 160, 236), #ffffff);
  height: 100vh; 
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.homePageComp {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 7rem;
  text-align: center;
  color: #ffffff;
  padding: 20px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); /* Shadow for text to stand out */
}


.LoginPage,
.SignupPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Make the container full height of the viewport */
  background: linear-gradient(to right, rgb(76, 160, 236), #ffffff); /* Set your desired background color here */
}

/* Add more styles as needed for form elements, etc. */
form {
  width: 300px; /* Adjust the form width as needed */
  padding: 20px;
  border: 1px solid #cccccc;
  background-color: #ffffff56; /* Set form background color */
}

/* Add styling for other elements as needed */
h1 {
  font-size: 3rem;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 2px;
  text-shadow: 5px 5px 5px rgba(84, 83, 83, 0.5);
}

.error-message {
  color: rgb(0, 0, 0);
  font-size: 2rem;
}

.submit {
border: none;
border-radius: 15px;
font-size: 16px;
cursor: pointer;
background-color: #ffffff;
justify-content: center;
}

.submit:hover {
  background-color: rgb(76, 160, 276); /*  фон при наведении */
  color: #ffffff; 
}

.logLinkButton {
  display: flex;
  flex-direction: column;
  border: none;
  margin-left: 700px;
  margin-bottom: 25px;
  background-color: rgb(235,235,240);
  cursor: pointer;
  border-radius: 15px;
}

.logLinkButton:hover {
  background-color: rgb(0, 0, 0); 
  color: #ffffff; 
}

.logHomePage {
  height: 100vh;
}

.congrats {
  text-align: center;
  color: rgb(255, 255, 255); 
  text-shadow: none;
  padding: 20px; /* Add some padding for better visibility */
  font-size: 34px; 
  border-radius: 8px; /* Add rounded corners */
  margin-bottom: 130px; /* Create space between elements */
}

.partnerContainer {
  display: flex;
  flex-direction: column;
 margin-left: 726px;
 justify-content: center;
 align-items: center;
 color: black;
}

.partnerButton {
  cursor: pointer;
  border-radius: 15px;
  border: black;
  background-color: rgb(242,242,245);
}

.partnerButton:hover {
  background-color: rgb(0, 0, 0); 
  color: #ffffff; 
}

.congratsPartner {
  color: rgb(255, 255, 255); 
  text-shadow: none;
  padding: 20px; 
  font-size: 34px; 
  border-radius: 8px;
  margin-left: 100px;
  margin-bottom: 130px; 
}

.deletePartnerButton {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  border-radius: 15px;
  background-color: rgb(0, 0, 0);
  color: white;
  width: auto;
  margin-top: 30px;
}

.deletePartnerButton:hover {
  background-color: white;
  color: black;
}